---
import Twitter from "./icons/twitter.astro";
---

<footer
  id="footer"
  class="absolute bottom-0 pb-10 opacity-0 2xl:pb-20 text-[#CFFAFE]">
  <p class="leading-140 text-[#38BDF8] xl:text-lg">
    Inspired By <br class="inline-block sm:hidden" />
    <a href="https://twitter.com/@helmisatria_" target="_blank">
      <div class="h-4 w-4">
        <Twitter />
      </div>
      <span>@helmisatria_</span>
    </a>
  </p>
</footer>
