---
import Wave from "./icons/wave.astro";
---

<div class="relative z-10 flex flex-col items-start sm:items-center">
  <h2
    class="relative text-4xl font-bold tracking-tight text-cyan-50 sm:text-5xl sm:!leading-150 md:text-5xl lg:text-[64px]">
    <span class="block pb-4 sm:inline-block sm:pb-0">💼</span>
    <span class="relative">
      <span class="relative z-[1]">Work Experiences</span>
      <span
        style={{ maxWidth: 0 }}
        class="title-highlight absolute left-0 bottom-0 z-0 hidden h-[15px] w-[250px] max-[350px]:w-[220px] min-[325px]:block sm:bottom-1 sm:w-[320px] lg:bottom-2 lg:h-[20px] lg:w-[500px]">
      </span>
    </span>
  </h2>

  <p
    class="max-w-[720px] pt-11 pb-16 text-left text-xl !leading-150 text-sky-200 sm:pb-32 sm:text-center sm:text-2xl">
    I have extensive experience in web application development as a Fullstack
    developer, and held <br class="hidden md:block" />
     a fulltime job as a Backend developer.
  </p>

  <Wave />
</div>
